* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,*::before,*::after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a, a:visited{text-decoration: none;}

a:hover{text-decoration: none;}

ul li{list-style: none;}

/* ====================================================================== */

@font-face {
	font-family: 'Open Sans';
	font-weight: 400;

	src: url(../fonts/Open_Sans/static/OpenSans-Regular.ttf);
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 700;

	src: url(../fonts/Open_Sans/static/OpenSans-Bold.ttf);
}

@font-face {
	font-family: 'Neucha';
	font-weight: 400;

	src: url(../fonts/Neucha/Neucha-Regular.ttf);
}

:root {
  --white: #fff;
  --transparent-white: #d7ccc0;
  --light: #f5f4f0;
  --color-main: #fe8a02;
  --dark-main: #42413c;
  --dark: #2a2626;
  --transparent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}


/*
Шрифты
В качестве основного шрифта используется Open Sans
Для заголовков используется шрифт Neucha
Размер шрифта: 16px
Межстрочный интервал: 1.6em
Цвет шрифта: #2A2626

Заголовки
Межстрочный интервал заголовков: 1.2em
Размер заголовка первого уровня: 72px
Размер заголовка второго уровня: 60px
Размер заголовка третьего уровня: 34px

Секции
Ограничение по ширине контента: 1110px
Выравнивание по центру
Отступы по 100 пикселей сверху и снизу */
