:root {
  --white: #fff;
  --transparent-white: #d7ccc0;
  --light: #f5f4f0;
  --color-main: #fe8a02;
  --dark-main: #42413c;
  --dark: #2a2626;
  --transparent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 400;

	src: url(../fonts/Open_Sans/static/OpenSans-Regular.ttf);
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 700;

	src: url(../fonts/Open_Sans/static/OpenSans-Bold.ttf);
}

@font-face {
	font-family: 'Neucha';
	font-weight: 400;

	src: url(../fonts/Neucha/Neucha-Regular.ttf);
}

*,*::before,*::after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a, a:visited{text-decoration: none;}

a {
  display: block;
  box-sizing: border-box;
  color: var(--dark);
}

a:hover{text-decoration: none;}

ul li{list-style: none;}

body {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
	margin: 0;

  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
}

h1,
h2,
h3 {
  padding: 0;
	margin: 0;

  font-family: 'Neucha', sans-serif;
  font-weight: 400;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

/* ======================= HEADER SECTION =========================== */

.header-section {
  background-color: var(--light);
}

.wrapper {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 100px 165px;
}

.header-wrapper {
  position: relative;
}

.header-wrapper::before {
  content: '';

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;
}

.header-title {
  position: relative;
  margin-bottom: 200px;
  z-index: 1;
}

.title-orange {
  color: var(--color-main);
}

.header-image {
  position: absolute;
  top: 55px;
  right: -105px;

  height: 525px;
}

.description {
  columns: 2;
  column-gap: 30px;
}

.description p:nth-child(1) {
	margin-top: 0;
  margin-bottom: 80px;
}

.description p:nth-child(2) {
	break-inside: avoid;
}

.btn {
  position: relative;
  display: block;
  width: 149px;
  height: 49px;
  margin-top: 40px;
  padding: 12px 24px;
  z-index: 1;

  font-weight: 700;
  text-transform: uppercase;
  color: var(--white);

  background-color: var(--color-main);
}

/* ========================= VIDEO SECTION ============================== */

.video-wrapper {
  padding-bottom: 0;
  text-align: center;
}

.video-title {
  margin-bottom: 27px;
}

.video {
  margin-top: 20px;
  margin-bottom: -100px;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

/* ======================== NAVIGATION SECTION =========================== */

.navigation-section {
  background-color: var(--dark-main);
}

.navigation-wrapper {
  padding-top: 200px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu > * {
  width: 350px;
}

.navigation-title {
  font-size: 52px;
}

.title-white {
  color: var(--white);
}

.menu-item {
  padding: 24px;

  background-color: var(--light);
}

.menu-item p {
  margin-bottom: 0;
}

.menu-item:nth-child(n + 4) {
  margin-top: 20px;
}

.menu-item-number {
  margin-bottom: 40px;

  font-size: 64px;
  font-family: 'Neucha';
  line-height: 1em;
}

.menu-item-title {
  color: var(--color-main);
}

.menu-item:hover {
  background-color: var(--color-main);
  color: var(--white);
}

.menu-item:hover h3 {
  color: var(--white);
}

/* ================== SECTIONS ======================= */

/* ======== FIRST SECTION ========= */

.light-bkg-section {
  background-color: var(--light);
}

.section-wrapper {
  position: relative;
}

.section-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;
}

.section-info {
  display: flex;
}

.section-image {
  flex: 1 1 auto;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.mr {
  margin-right: 30px;
}

.text {
  font-family: 'Neucha';
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2em;
}

.text-grey {
  color: #908D8B;
}

.section-title {
  font-size: 60px;
}

.section-definition p {
  font-family: 'Neucha';
  font-weight: 400;
  font-size: 34px;
  line-height: 1.2em;
}

.description-title-wrapper {
  display: flex;
  height: 26px;
  margin-top: 100px;
  margin-bottom: 20px;
  padding-left: 10px;
  align-items: center;
}

.brown-wrapper {
  background-color: var(--brown);
}

.description-title {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2em;
  text-transform: uppercase;
}

.desk-white {
  color: #fff;
}

.section-description {
  columns: 2;
  column-gap: 30px;
}

.section-description p:first-child {
  margin-top: 0;

}

.section-description p:last-child {
  margin-bottom: 0;
  break-inside: avoid;
}


/* ========= SECOND SECTION ========== */


.brown-bkg-section {
  background-color: var(--brown);
}

.brown-bkg-section * {
  color: #fff;
}

.text-white {
  color: var(--transparent-white);
}

.ml {
  margin-left: 30px;
}

.white-wrapper {
  background-color: #fff;
}

.desk-black {
  color: var(--brown);
}

/* ========================= FOOTER =========================== */

.send-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 190px;
  padding-left: 55px;
  padding-right: 55px;

  background-color: var(--dark-main);
}

.footer-title {
  color: #fff;
}

.info {
  display: block;
  margin-bottom: 9px;

  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6em;
  color: #fff;
}

.send-form {
  display: flex;
}

input::placeholder {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.6;

  opacity: 0.2;
}

.input-feld {
  width: 415px;
  height: 50px;
  padding: 15px;

  border: 0;
  border-radius: 0;
}

.send-btn {
  position: relative;
  width: 70px;
  height: 50px;
  padding: 0;
  border: 0;

  background-color: var(--color-main);
}

.send-btn::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  top: calc(50% - (24px / 2));
  left: calc(50% - (24px / 2));

  background-image: url(../img/send.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.info-desc {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  color: #fff;
}

.info-desc a {
  display: inline;
  text-decoration: underline;
  color: #fff;
}

.contact-info {
  margin-top: 60px;
  text-align: center;
}

.contact-info > p {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
}

.contact-info a {
  display: inline;

  text-decoration: underline;

  color: #1085C5;
}


/*
Секции
Ограничение по ширине контента: 1110px
Выравнивание по центру
Отступы по 100 пикселей сверху и снизу */
